/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos adicionales */
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
